* text=auto

*.adoc text
*.bat text
*.cmake text
*.cpp text
*.css text
*.filters text
*.h text
*.hpp text
*.html text
*.js text
*.json text
*.md text
*.patch text
*.props text
*.py text
*.rc text
*.schema text
*.sh text
*.sql text
*.txt text
*.vcxproj text
*.yaml text

*.avi binary
*.container binary
*.eap binary
*.emf binary
*.gif binary
*.ico binary
*.jar binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.rawbgr24 binary
*.rawrgb24 binary
*.rawyuv420 binary
*.svg binary
*.zip binary